"""
	STATIC PATHS:
	In this section, fill in all of these values with whatever makes sense to you.
	If you are filling out paths, please note and retain the trailing slash.
"""
public_user = "some_user_name"

main_dir = "/path/to/where/you/cloned/this/repository/"
assets_root = "/path/to/where/you/want/submissions/to/go/"
import_root = "/path/to/where/imported/media/should/go/"
gnupg_home = "/full/path/to/safe/dir/.gnupg/"

conf = "%sconf/" % main_dir
log_root = "%slogs/" % main_dir

secret_key_path = "%sprivkey.asc" % conf
gnupg_pword = "%sprivkeypassword" % conf

forms_root = "%sforms/" % main_dir

file_salt = "WHAT WILL YOUR SALT BE?"
anon_salt = "16 bytes of goodness"	# 16
anon_iv = "16 bytes of goodness"	# 16

"""
	REPOSITORY SYNC:
	This array can be populated with whatever repositories you currently host.  
	So far, we support 'globaleaks' and 'google_drive'.  You DEFINITELY SHOULD LEAVE 'import' in there; it monitors your local drive for imported media. 
	
	All private keys should be put in your conf folder so we can reference them.
"""
sync = [
	'import'
]

drive = {
	"client_secrets" : "%sclient_secrets.json" % conf,
	"p12" : "%sGOOGLE_DRIVE-privatekey.p12" % conf,
	"asset_root" : "GOOGLE DRIVE ID OF FOLDER WHERE YOUR SUBMISSIONS ARE HELD",
	"absorbed_flag" : "absorbedByInformaCam",
	"asset_id" : "google service account email",
	"absorbed_log" : "%sabsorbedByInformaCam_gd.tx" % log_root,
}

globaleaks = {
	"asset_root" : "/var/globaleaks/files/submission/",
	"host" : "wheres-your-gl-server.com",
	"user" : "user",
	"context_gus" : "GL CONTEXT GUS",
	"identity_file" : "%sgltest1.pem" % conf,
	"absorbed_log" : "%sabsorbedByInformaCam_gl.txt" % log_root,
	"absorbed_flag" : "absorbedByInformaCam",
	"public_url" : "http://WHATEVER_PUBLIC_URL.onion"
}

"""
	YOUR ICTD INFO:
	Whenever a user visits your public site, you will serve up this information in
	an ICTD file, on-the-fly.
	
	Below is an example of how to register your custom forms for users to use in-app.
	Those files must be in your forms_root.
"""
organization_fingerprint = "FULL FINGERPRINT PLEASE"
organization_name = "Some Org Inc."
organization_details = "What else do you have to say?"
public_key_path = '%sconf/pubkey.asc' % main_dir

forms = [] 
"""
forms = [
	'%siWitness_free_text.xml' % forms_root,
	'%siWitness_free_audio.xml' % forms_root,
	'%siWitness_v_1_0.xml' % forms_root
]
"""

repositories = []
"""
	If you don't support any of these repositories, remove their entries
repositories = [
	{
		'source': 'google_drive',
		'asset_id': drive['asset_root'],
		'asset_root': 'https://drive.google.com'
	},
	{
		'source': 'globaleaks',
		'asset_id': globaleaks['context_gus'],
		'asset_root': globaleaks['public_url']
	}

]
"""

"""
	NOTHING ELSE TO CHANGE!  Don't worry about the rest of these values!
"""
conf_root = conf